:root {
    --light-orange-color: #fff8f1;
    --dark-orange-color: #ffa85a;
    --fade-light-orange-color: #fff8f180;

}

::-webkit-scrollbar {
    width: 5px;
    background-color: var(--dark-orange-color);
}

::-webkit-scrollbar-thumb {
    background: var(--light-orange-color); 
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


body {
    overflow-x: hidden;
}

/* values section */

.values {
    padding-top: 50px;
    padding-bottom: 50px;
}


.values-container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.values-container .values-content {
    grid-template-rows: repeat(1, 1fr);
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

.values-card {
    margin: 1rem;
    gap: 0.8rem;
    background-color: var(--light-orange-color);
    border: 1px solid var(--dark-orange-color);
    height: 380px;
    padding: 0 1rem 0 1rem;
    border-radius: 10px;
    display: flex;
    width: 330px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.25s linear 0s;
}

.values-card:hover{
    scale: 1.05;
    box-shadow: 0px 5px 15px var(--dark-orange-color);
}

.values-card p {
    text-align: center;
}

.values-card h1 {
    font-size: 1.7rem;
}


.values-card .img-container {
    height: 130px;
    width: 130px;

}

.values-card .img-container img {
    height: 100%;
    width: 100%;

}


@media screen and (max-width: 1190px) {
    .values-container .values-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }

}

@media screen and (max-width: 775px) {
    .values-container .values-content {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media screen and (max-width: 365px) {
    .values-card {
        width: 250px;
    }

    .values-card h1 {
        font-size: 1.3rem
    }

    .values-card p {
        font-size: 0.8rem;
    }

    .values-card .img-container {
        height: 80px;
        width: 80px;
    }


}





.about {
    background-color: var(--light-orange-color);
  
  }
  
  .about .about-container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 2rem 1rem 2rem 1rem;
    gap: 2rem;
    align-items: center;
  }
  
  .about .about-container .content-left .img-container {
    overflow: hidden;
    border-radius: 10px;
    height: 300px;
  }
  
  .about .about-container .content-left .img-container img {
    height: 100%;
    border-radius: 10px;
    width: 100%;
  }
  
  .about .about-container .content-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about .about-container .content-right h1 {
    font-size: 2.5rem;
  }
  
  .about .about-container .content-right h3 {
    color: var(--dark-orange-color);
  }
  
  .about .about-container .content-right ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 0.4rem;
  }

  .content-right button{
    background-color: var(--dark-orange-color);
    color: white;
    padding:  0.7rem 1rem ;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: all 0.25s linear 0s;
  }

  .content-right button:hover{
    background-color: var(--light-orange-color);
    color: black;
    border: 2px solid var(--dark-orange-color);
  }

  
  /* 
    & Media query for about section
  */
  
  @media screen and (max-width: 700px) {
    .about .about-container {
      flex-direction: column;
    }
  
    .about .about-container .content-left .img-container img {
      width: 100%;
      align-self: center;
    }
  
    .about .about-container .content-right {
      text-align: center;
    }
  }





.donations {
    padding-top: 50px;
    padding-bottom: 50px;
    background: var(--dark-orange-color);
}

.donations-container {
    max-width: 1400px;
    margin: 0 auto;
}

.donations-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.donations-content .left-container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10em;
}

.donations-content .left-container .img-container {
    height: 250px;
    width: 250px;
    border-radius: 500px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.donations-content .left-container .img-container img {
    height: 100%;
    width: 100%;
}



.donations-content .left-container h1 {
    color: var(--light-orange-color);
    text-align: left;
}

.donations-content .left-container p {
    color: var(--light-orange-color);
}

.donations-content .left-container hr {
    color: var(--light-orange-color);
    border: 1px solid;
}


.donations-content .right-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr);
    gap: 1.5rem;
    padding: 2rem;
    margin: 0 auto;
}

.donations-content .right-container .donations-card {
    width: 250px;
    height: 250px;
    padding: 0.8rem;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0px 20px 0px 20px;
}

.donations-card p{
    text-align: center;
}

.donations-card button {
    border: 1px solid var(--dark-orange-color);
    background: var(--light-orange-color);
    color: black;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 10px;
    transition: all 0.25s linear 0s;
}

.donations-card button:hover {
    background-color: var(--dark-orange-color);

    color: white;
}



.donations-card .img-container {
    height: 50px;
    width: 50px;
}

.donations-card .img-container img {
    height: 100%;
    width: 100%;
}

.donations-card h2 {
    font-size: 1.2rem;
}

.donations-card p {
    font-size: 0.8rem;
}


@media screen and (max-width : 1128px) {
    .donations-content h1 {
        text-align: center;
    }

    .donations-content {
        grid-template-columns: repeat(1, 1fr);

    }

    .donations-content .left-container {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width : 600px) {
    .donations-content .right-container {
        grid-template-columns: repeat(1, 1fr);

    }
}

@media screen and (max-width : 350px) {
    .donations-content .left-container .img-container{
        height: 180px;
        width: 180px;
    }
}



/* Events section */

.events {

    width: 100vw;
    background: var(--light-orange-color);
    padding-top: 50px;
    padding-bottom: 50px;
}

.events-container {
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.events-container h1 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;

}

.events-container .events-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 2rem;
}



.events-container .events-content .events-card {
    height: 300px;
    width: 400px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.25s linear 0s;
}

.events-container .events-content .events-card .img-container {
    height: 100%;
    width: 100%;
    position: relative
}

.events-container .events-content .events-card .img-container img {
    height: 100%;
    width: 100%;

}


.events-container .events-content .events-card .img-container p {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    opacity: 0;
    transition: all 0.25s linear 0s;
    color: black;
}


.events-container .events-content .events-card .img-container h3 {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 10px;
    background: var(--fade-light-orange-color);
    opacity: 0;
    transition: all 0.25s linear 0s;
    color: var(--dark-orange-color);
}

.events-card:hover{
    transform: scale(1.05);
    box-shadow: 0px 5px 15px var(--dark-orange-color);
}

.events-container .events-content .events-card:hover .img-container p,
.events-container .events-content .events-card:hover .img-container h3 {
    opacity: 1;
}

@media screen and (max-width: 1360px) {
    .events-container .events-content {
        grid-template-columns: repeat(2, 1fr);
    }

}


@media screen and (max-width: 883px) {
    .events-container .events-content {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media screen and (max-width: 480px) {
    .events-container .events-content .events-card {
        width: 350px;
        height: 300px;
        margin-right: 1rem;
        margin-left: 1rem;
    }

}

@media screen and (max-width: 380px) {
    .events-container .events-content .events-card {
        width: 250px;
        height: 200px;
        margin-right: 1rem;
        margin-left: 1rem;
    }

}


.footer-container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: var(--dark-orange-color);
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: black;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: black;
	text-decoration: none;
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 1264px){
    .footer-container{
        padding: 0 50px;
    
    }
  .footer-col{
    width: 50%;

}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
